@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');


*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9) 20%, rgba(255,255,255,0.6) 100%), url('../assets/cover.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.83;
  font-family: 'Viaoda Libre', cursive;
}